<html>
<head>
  <title>Log In | Wine-to-Table</title>
</head>

<body>
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
    <div id="page-header-signin" class="page-header has-background-image">
      <div class="overlay background-img-no-overlay"></div>
      <div class="container">
        <h1 class="page-title page-title-new">WELCOME</h1>
      </div>
    </div>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
      
        <!-- SIGN IN FORM -->
      <%= form_tag '/login', method: :post do %>
        <div class="well well-form-wrapper center-block">
          <p class="lead">User your username/email</p>
          <form class="form-horizontal label-left">
            <div class="form-group">
              <label for="signin-username" class="col-sm-3  control-label">Username/Email*</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="signin-username" name="email">
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="col-sm-3  control-label">Password*</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="signin-password" name="password">
              </div>
            </div>
              <div class="form-group">
              <div class="col-sm-9 col-md-offset-3">
                <label class="fancy-checkbox">
                  <input type="checkbox">
                  <span>Remember me next time</span>
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg center-block"><i class="fa fa-sign-in"></i> SIGN IN</button>
          </form>
        </div>
            <% end %>
        <!-- END SIGN IN FORM -->
      </div>
    </div>
    <!-- END PAGE CONTENT -->
 
    <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/bravana.js"></script>

</body>

</html>
