<html>
<head>
  <title>Log In | Wine-to-Table</title>
</head>

<body>
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
    <div id="page-header-signin" class="page-header has-background-image">
      <div class="overlay background-img-no-overlay"></div>
      <div class="container">
        <h1 class="page-title page-title-new">WELCOME</h1>
      </div>
    </div>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
      
        <!-- SIGN IN FORM -->
      <%= form_tag '/login', method: :post do %>
        <div class="well well-form-wrapper center-block">
          <p class="lead">User your username/email</p>
          <form class="form-horizontal label-left">
            <div class="form-group">
              <label for="signin-username" class="col-sm-3  control-label">Username/Email*</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="signin-username" name="email">
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="col-sm-3  control-label">Password*</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="signin-password" name="password">
              </div>
            </div>
              <div class="form-group">
              <div class="col-sm-9 col-md-offset-3">
                <label class="fancy-checkbox">
                  <input type="checkbox">
                  <span>Remember me next time</span>
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg center-block"><i class="fa fa-sign-in"></i> SIGN IN</button>
          </form>
        </div>
            <% end %>
        <!-- END SIGN IN FORM -->
      </div>
    </div>
    <!-- END PAGE CONTENT -->
    
    <!-- CAROUSEL PORTFOLIO SIMPLE -->
      <div id="carousel-portfolio-simple" class="owl-carousel carousel-portfolio-simple">
        <div>
          <div class="portfolio-simple">
            <a href="/pages/bordeaux"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm1.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/bordeaux"  target="_blank"><h3 class="title">BORDEAUX</h3>
              <span>France</span></a>
              <a href="/pages/bordeaux"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/california"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm2.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/california"  target="_blank"><h3 class="title">CALIFORNIA</h3>
              <span>United States</span></a>
              <a href="/pages/california"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/marlborough"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm3.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/marlborough"  target="_blank"><h3 class="title">MARLBOROUGH</h3>
              <span>New Zealand</span></a>
              <a href="/pages/marlborough"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mendoza"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm4.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mendoza"  target="_blank"><h3 class="title">MENDOZA</h3>
              <span>Argentina</span></a>
              <a href="/pages/mendoza"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mosel"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm5.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mosel"  target="_blank"><h3 class="title">MOSEL</h3>
              <span>Germany</span></a>
              <a href="/pages/mosel"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/rioja"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm6.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/rioja"  target="_blank"><h3 class="title">RIOJA</h3>
              <span>Spain</span></a>
              <a href="/pages/rioja"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/tuscany"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm7.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/tuscany"  target="_blank"><h3 class="title">TUSCANY</h3>
              <span>Italy</span></a>
              <a href="/pages/tuscany"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
      <!-- END CAROUSEL PORTFOLIO SIMPLE -->
 
    <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/bravana.js"></script>

</body>

</html>
