<h1>Sign Up</h1>
<%= form_tag '/users', method: :post do %>
<div>
  Name: <input type="text" name="name">
</div>
<div>
  Email: <input type="email" name="email">
</div>
<div>
  Username: <input type="text" name="username">
</div>
<div>
  Password: <input type="password" name="password">
</div>
<div>
  Confirm Password: <input type="password" name="password_confirmation">
</div>
<div>
  Profile Picture: <input type="text" name="profile_pic">
</div>
<input type="submit" name="Submit">
<% end %>