<html>
<head>
  <title>Sign Up | Wine-to-Table</title>
</head>
<body>
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
    <div id="page-header-signup" class="page-header has-background-image">
      <div class="overlay"></div>
      <div class="container">
        <h1 class="page-title">SIGN UP</h1>
      </div>
    </div>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
   <!--      <div class="col-md-6">
          <section class="no-padding-top">
            <h2 class="section-heading no-margin-top">Membership Benefits</h2>
            <p>Continually implement functionalized technology rather than worldwide partnerships. Progressively harness bleeding-edge methodologies without low-risk.</p>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_pencil-edit ico-styled-lg text-primary"></i>
              <div class="text">
                <h2 class="title">Carefully Handcrafted</h2>
                <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_mobile ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Mobile Friendly</h2>
                <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_like ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Slider Revolution</h2>
                <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
              </div>
            </div>
          </section>
        </div> -->
          <!-- SIGN UP FORM -->
    <%= form_tag '/users', method: :post do %>
        <div class="col-md-6">
          <div class="well well-form-wrapper">
            <h2 class="heading">Sign Up</h2>
            <br>
            <form class="form-horizontal label-left">
              <div class="form-group">
                <label for="signup-firstname" class="col-sm-3 control-label">Name*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-firstname" name="name">
                </div>
              </div>
              <br>
           <!--    <div class="form-group">
                <label for="signup-lastname" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-lastname">
                </div>
              </div> -->
              <div class="form-group">
                <label for="signup-email" class="col-sm-3 control-label">Email*</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="signup-email" name="email">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-username" class="col-sm-3  control-label">Username*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-username" name="username">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-username" class="col-sm-3  control-label">Profile Picture (URL)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-username" name="profile_pic">
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <label for="signup-password" class="col-sm-3  control-label">Password*</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="signup-password" name="password">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-password" class="col-sm-3  control-label">Password Confirmation*</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="signup-password" name="password_confirmation">
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="col-sm-9 col-md-offset-3">
                  <label class="fancy-checkbox">
                    <input type="checkbox">
                    <span>I accept <a href="#">Privacy Policy</a> and the <a href="#">Terms and  Agreements</a></span>
                  </label>
                </div>
              </div> -->
              <br><br>
              <button type="submit" class="btn btn-primary btn-lg center-block"><i class="fa fa-check-circle"></i> SIGN UP</button>
            </form>
          </div>
        </div>
        <% end %>

          <!-- END SIGN UP FORM -->
        <div class="col-md-6">
        <br>
          <section class="no-padding-top">
            <h2 class="section-heading no-margin-top">Member Benefits</h2>
            <p>Receive feedback and information about specific wines from our community of reviewers! You will also be able to share your reviews and thoughts with fellow reviewers.</p>
            <br>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_pencil-edit ico-styled-lg text-primary"></i>
              <div class="text">
                <h2 class="title">Carefully Handcrafted</h2>
                <p>Search for wines according to specific criteria, and narrow down the results to fit your needs.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_heart ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Private Cellar</h2>
                <p>Add the wines you love to your private Cellar! Organize your "favorited" wines into categories of your own making for easier access in the future.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_menu-square_alt2 ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Barcode Scanner</h2>
                <p>Easily scan wine bottle barcodes for instant access to the wine's information and reviews.</p>
              </div>
            </div>   
          </section>
        </div>

      </div> <!-- whole content div -->
    </div> <!-- whole content div -->
    <!-- END PAGE CONTENT -->
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/logo/bravana-default.png" alt="Bravana logo" class="logo-footer">
            <br>
            <br>
            <p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications.</p>
            <p>No need to wait, <a href="#">send us a quote</a></p>
            <br>
            <address class="contact-info">
              <p><i class="icon icon_pin_alt ico-styled text-primary"></i> 1234 North Main Street New York, NY 22222</p>
              <p><i class="icon icon_phone ico-styled text-primary"></i> (1800) 765 - 4321</p>
              <p><i class="icon icon_mail_alt ico-styled text-primary"></i> <a href="mailto:email@yourdomain.com">email@yourdomain.com</a></p>
            </address>
          </div>
          <div class="col-md-4">
            <h4 class="footer-heading">LATEST NEWS</h4>
            <ul class="list-unstyled latest-news-footer">
              <li class="news-item">
                <h5 class="title"><a href="#">Dynamically Pontificate Highly Efficient Vortals</a></h5>
                <span>Oct 12, 2015</span>
              </li>
              <li class="news-item">
                <h5 class="title"><a href="#">Globally pontificate cross-platform resources without turnkey e-commerce</a></h5>
                <span>Oct 11, 2015</span>
              </li>
              <li class="news-item">
                <h5 class="title"><a href="#">Credibly administrate one-to-one e-tailers for diverse value.</a></h5>
                <span>Oct 10, 2015</span>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="footer-heading">GET CONNECTED</h4>
            <ul class="list-inline social-icons social-icons-small">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="margin-bottom-50"></div>
            <h4 class="footer-heading">NEWSLETTER</h4>
            <p>Get the latest update from us by subscribing to our newsletter.</p>
            <form class="newsletter-form" method="post">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
                </span>
              </div>
              <div class="alert"></div>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="copyright-text left">&copy;2016 The Develovers. All Rights Reserved.</p>
          <nav class="right">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
    <div class="back-to-top">
      <a href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>
  </div>
  <!-- END WRAPPER -->
  <!-- JAVASCRIPT -->
  <script src="assets/js/jquery-2.1.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="assets/js/bravana.js"></script>

<h1>Sign Up</h1>
<%= form_tag '/users', method: :post do %>
<div>
  Name: <input type="text" name="name">
</div>
<div>
  Email: <input type="email" name="email">
</div>
<div>
  Username: <input type="text" name="username">
</div>
<div>
  Password: <input type="password" name="password">
</div>
<div>
  Confirm Password: <input type="password" name="password_confirmation">
</div>
<div>
  Profile Picture: <input type="text" name="profile_pic">
</div>
<input type="submit" name="Submit">
<% end %>

</body>

</html>

