<html>
<head>
  <title>Sign Up | Wine-to-Table</title>
</head>
<body>
<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- took out the ID from this one so it would go to the default img-->    
  <div class="page-header has-background-image">
      <div class="overlay background-img-no-overlay"></div>
      <div class="container">
        <h1 class="page-title page-title-new">SIGN UP</h1>
      </div>
    </div>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
 
          <!-- SIGN UP FORM -->
    <%= form_tag '/users', method: :post do %>
        <div class="col-md-6">
          <div class="well well-form-wrapper">
            <h2 class="heading">Sign Up</h2>
            <br>
            <form class="form-horizontal label-left">
              <div class="form-group">
                <label for="signup-firstname" class="col-sm-3 control-label">Name*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-firstname" name="name">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-email" class="col-sm-3 control-label">Email*</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="signup-email" name="email">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-username" class="col-sm-3  control-label">Username*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-username" name="username">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-username" class="col-sm-3  control-label">Profile Picture (URL)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="signup-username" name="profile_pic">
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <label for="signup-password" class="col-sm-3  control-label">Password*</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="signup-password" name="password">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="signup-password" class="col-sm-3  control-label">Password Confirmation*</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="signup-password" name="password_confirmation">
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="col-sm-9 col-md-offset-3">
                  <label class="fancy-checkbox">
                    <input type="checkbox">
                    <span>I accept <a href="#">Privacy Policy</a> and the <a href="#">Terms and  Agreements</a></span>
                  </label>
                </div>
              </div> -->
              <br><br>
              <button type="submit" class="btn btn-primary btn-lg center-block"><i class="fa fa-check-circle"></i> SIGN UP</button>
            </form>
          </div>
        </div>
        <% end %>

          <!-- END SIGN UP FORM -->
        <div class="col-md-6">
        <br>
          <section class="no-padding-top">
            <h2 class="section-heading no-margin-top">Member Benefits</h2>
            <p>Receive feedback and information about specific wines from our community of reviewers! You will also be able to share your reviews and thoughts with fellow reviewers.</p>
            <br>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_pencil-edit ico-styled-lg text-primary"></i>
              <div class="text">
                <h2 class="title">Carefully Handcrafted</h2>
                <p>Search for wines according to specific criteria, and narrow down the results to fit your needs.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_heart ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Private Cellar</h2>
                <p>Add the wines you love to your private Cellar! Organize your "favorited" wines into categories of your own making for easier access in the future.</p>
              </div>
            </div>
            <div class="icon-info icon-info-left icon-info-big">
              <i class="icon icon_menu-square_alt2 ico-styled-lg  text-primary"></i>
              <div class="text">
                <h2 class="title">Barcode Scanner</h2>
                <p>Easily scan wine bottle barcodes for instant access to the wine's information and reviews.</p>
              </div>
            </div>   
          </section>
        </div>

      </div> <!-- whole content div -->
    </div> <!-- whole content div -->
    <!-- END PAGE CONTENT -->

  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/bravana.js"></script>


</body>

</html>

