<!--This is the 3 panels for random stuff/popular wines/etc -->
<br>
<br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Trending Now</div>
        <div class="panel-body"><a href ="/pages/page_trending"><img src="https://blogs-images.forbes.com/adammorganstern/files/2015/12/Germany-23-2000px-1200x800.jpg?width=960" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_trending">Seasonal treats</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Wine of the Day</div>
        <div class="panel-body"><a href ="/pages/page_wine_of_day"><img src="https://assets.ajmadison.com/image/upload/c_limit,f_auto,fl_lossy.progressive,h_1000,q_auto,w_1000/v1/ajmadison/images/large_no_watermark/E24WC48EPSSmoothGlideSide.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_wine_of_day">I'm feeling lucky...</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Best Wines of 2016</div>
        <div class="panel-body"><a href ="/pages/page_best_of"><img src="https://grapecollective.com/media/wysiwyg/castelgiocondo-003.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_best_of">Last harvest's stars</a></div>
      </div>
    </div>
  </div>
</div><br><br><br><br>

  

    <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading homepage-heading">WINE -to- TABLE</h2>
        <p class="homepage-info">WINE -to- TABLE is a growing community of wine-lovers and enthusiasts. By becoming a part of our community you will be able to learn about specific wines, and share your ratings and thoughts with fellow reviewers.</p>
        <br>
        <p class="homepage-info">Member benefits include: </p>
        <ul>
        <li class="fa fa-envira fa-lg list-info"><strong> Search for wines according to specific criteria, and narrow down the results to fit your needs.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Add the wines you love to your private Cellar. Organize your "favorited" wines into categories of your own making.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Easily scan wine-bottle barcodes for instant access to the wine's information, reviews and where-to-buy links.</li></strong>
      </ul>
      </div> 
      <br>
 <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50 row">
        <div class="container row">
         <div class="col-sm-4"> 
          <div class="icon-info icon-info-left icon-info-big home-icon-left">
              <i class="icon icon_pencil-edit ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Carefully Handcrafted</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-center icon-info-big home-icon-center">
              <i class="icon icon_heart ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Private Cellar</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-right icon-info-big home-icon-right">
              <i class="icon icon_menu-square_alt2 ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Barcode Scanner</h2></i>
            </div>   
         </div>
        </div>
      </div>
    </section> 
    <br>
    <br>