<!--This is the 3 panels for random stuff/popular wines/etc -->
<html>
<head> 
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/assets/js/bravana.js"></script>
</head>

<body>
<br>
<br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Trending Now</div>
        <div class="panel-body"><a href ="/pages/page_trending"  target="_blank"><img src="https://blogs-images.forbes.com/adammorganstern/files/2015/12/Germany-23-2000px-1200x800.jpg?width=960" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_trending">Seasonal treats</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Wine of the Day</div>
        <div class="panel-body"><a href ="/pages/page_wine_of_day"  target="_blank"><img src="https://assets.ajmadison.com/image/upload/c_limit,f_auto,fl_lossy.progressive,h_1000,q_auto,w_1000/v1/ajmadison/images/large_no_watermark/E24WC48EPSSmoothGlideSide.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_wine_of_day">I'm feeling lucky...</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-default">
        <div class="panel-heading panel-primary">Best Wines of 2016</div>
        <div class="panel-body"><a href ="/pages/page_best_of" target="_blank"><img src="https://grapecollective.com/media/wysiwyg/castelgiocondo-003.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/page_best_of">Last harvest's stars</a></div>
      </div>
    </div>
  </div>
</div><br><br>
<!-- START INFO SECTION -->
    <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading homepage-heading">WINE -to- TABLE</h2>
        <p class="homepage-info">WINE -to- TABLE is a growing community of wine-lovers and enthusiasts. By becoming a part of our community you will be able to learn about specific wines, and share your ratings and thoughts with fellow reviewers.</p>
        <br>
        <p class="homepage-info">Member benefits include: </p>
        <ul>
        <li class="fa fa-envira fa-lg list-info"><strong> Search for wines according to specific criteria, and narrow down the results to fit your needs.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Add the wines you love to your private Cellar. Organize your "favorited" wines into categories of your own making.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Easily scan wine-bottle barcodes for instant access to the wine's information, reviews and where-to-buy links.</li></strong>
      </ul>
      </div> 
      <br>
<!--  <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50 row">
        <div class="container row">
         <div class="col-sm-4"> 
          <div class="icon-info icon-info-left icon-info-big home-icon-left">
              <i class="icon icon_pencil-edit ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Carefully Handcrafted</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-center icon-info-big home-icon-center">
              <i class="icon icon_heart ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Private Cellar</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-right icon-info-big home-icon-right">
              <i class="icon icon_menu-square_alt2 ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Barcode Scanner</h2></i>
            </div>   
         </div>
        </div>
      </div>
    </section> 
    <br>
    <br> -->
  <!--   END INFO SECTION -->

<!-- CAROUSEL PORTFOLIO SIMPLE -->
      <div id="carousel-portfolio-simple" class="owl-carousel carousel-portfolio-simple">
        <div>
          <div class="portfolio-simple">
            <a href="/pages/bordeaux"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm1.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/bordeaux"  target="_blank"><h3 class="title">BORDEAUX</h3>
              <span>France</span></a>
              <a href="/pages/bordeaux"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/california"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm2.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/california"  target="_blank"><h3 class="title">CALIFORNIA</h3>
              <span>United States</span></a>
              <a href="/pages/california"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/marlborough"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm3.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/marlborough"  target="_blank"><h3 class="title">MARLBOROUGH</h3>
              <span>New Zealand</span></a>
              <a href="/pages/marlborough"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mendoza"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm4.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mendoza"  target="_blank"><h3 class="title">MENDOZA</h3>
              <span>Argentina</span></a>
              <a href="/pages/mendoza"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mosel"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm5.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mosel"  target="_blank"><h3 class="title">MOSEL</h3>
              <span>Germany</span></a>
              <a href="/pages/mosel"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/rioja"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm6.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/rioja"  target="_blank"><h3 class="title">RIOJA</h3>
              <span>Spain</span></a>
              <a href="/pages/rioja"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/tuscany"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm7.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/tuscany"  target="_blank"><h3 class="title">TUSCANY</h3>
              <span>Italy</span></a>
              <a href="/pages/tuscany"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
       <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50 row">
        <div class="col-md-12">
         <!-- <div class="col-sm-4">  -->
          <div class="icon-info icon-info-big" style="margin-bottom: 0px;">
          
              <i class="icon icon_pencil-edit ico-styled-square-solid ico-styled-lg bg-primary home-icon-left  icon-info-left">
                <h2 class="title text-from-icons">Carefully Handcrafted</h2></i>
            
            <!-- </div> -->
            <!--  <div class="col-sm-4"> --> 
           
              <i class="icon icon_heart ico-styled-square-solid ico-styled-lg bg-primary home-icon-center icon-info-center">
                <h2 class="title text-from-icons">Private Cellar</h2></i>
       
           <!--  </div> -->
             <!-- <div class="col-sm-4">  -->
      
              <i class="icon icon_menu-square_alt2 ico-styled-square-solid ico-styled-lg bg-primary icon-info-right home-icon-right">
                <h2 class="title text-from-icons">Wine Scanner</h2></i>
              
            </div>   
        <!--  </div> -->
        </div>
      </div>
    </section> 
    <br>
    <br>
      <!-- END CAROUSEL PORTFOLIO SIMPLE -->

  
<!-- START INFO SECTION -->
    <!-- <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading homepage-heading">WINE -to- TABLE</h2>
        <p class="homepage-info">WINE -to- TABLE is a growing community of wine-lovers and enthusiasts. By becoming a part of our community you will be able to learn about specific wines, and share your ratings and thoughts with fellow reviewers.</p>
        <br>
        <p class="homepage-info">Member benefits include: </p>
        <ul>
        <li class="fa fa-envira fa-lg list-info"><strong> Search for wines according to specific criteria, and narrow down the results to fit your needs.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Add the wines you love to your private Cellar. Organize your "favorited" wines into categories of your own making.</li></strong>
      <li class="fa fa-envira fa-lg list-info"><strong> Easily scan wine-bottle barcodes for instant access to the wine's information, reviews and where-to-buy links.</li></strong>
      </ul>
      </div> 
      <br>
 <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50 row">
        <div class="container row">
         <div class="col-sm-4"> 
          <div class="icon-info icon-info-left icon-info-big home-icon-left">
              <i class="icon icon_pencil-edit ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Carefully Handcrafted</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-center icon-info-big home-icon-center">
              <i class="icon icon_heart ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Private Cellar</h2></i>
            </div>
            </div>
             <div class="col-sm-4"> 
            <div class="icon-info icon-info-right icon-info-big home-icon-right">
              <i class="icon icon_menu-square_alt2 ico-styled-square-solid ico-styled-lg bg-primary">
                <h2 class="title text-from-icons">Barcode Scanner</h2></i>
            </div>   
         </div>
        </div>
      </div>
    </section> 
    <br>
    <br> -->
  <!--   END INFO SECTION -->

      <!-- JAVASCRIPT -->



  </body>
  </html>