.dropdown-toggle {
  justify-content: center !important;
}


.button-color-seagreen{
  background-color: #3f7577 !important;
}


.wine-show-pg-container-space{
  width:100%;max-width:none;padding:0 !important;

}
.element1 {
  display:inline-block;margin-right: 50px; 
  float: left !important;
  } 

.element2 {
  display:inline-block; 
  float: right !important;
} 

.navbar-brand-position{
  padding-bottom: 0px !important;
  padding-top: 10px !important;
  padding-left: 0px !important;
  vertical-align: middle !important;
}
.middle-navbar{
  height: 80px;
  padding-left: 5px !important;
  margin-left: 0px !important;
  // vertical-align: middle !important;
}
.navbar-collapse.collapse, .align-center {
  @media (min-width:  992px) {
    height: 56px !important;
    display: flex !important;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.container, .bottom-navbar-pads{
  padding-left: 5px;
  padding-right: 5px;

}


.main-nav-collapse {
  @media (min-width: 992px) {
    height: unset !important;
  }
}

.navbar-brand {
  @media (min-width: 992px) {
    padding-bottom: 10px;
  }
}

.navbar-form, .navbar-right, .search-form .form-group {
  @media (min-width: 992px) {
    .form-group {
          margin-top: 3px;
    }
  }
  @media (max-width: 991px) {
    .form-group {
      float: right !important;
      position: relative !important;
      .inp-control{
        width: 100%;
        padding-right: 45px;
      }
      .but-control{
          width: 45px;
          position: absolute;
          top: 0;
          right: 0;
      }
      }
  }
}

.navbar-toggle, .collapsed{
   @media (max-width: 991px) {
   // do nothing for now, maybe fix later so it toggles back up  
   }

}

.navbar-right {
  @media (max-width: 992px) {
  &#top-buttons {
    display: flex;

    .btn, .btn-primary, .btn-fullrounded, .btn-sm, .homepage-buttons {
      padding: 8px;
    }
  }
}
}

.nav, .navbar-nav, .main-navbar-nav {
  @media (min-width: 992px) {
      li {
        margin-top:  -4px;
      }
    }
}

.bottom-navbar-dropdowns{
    vertical-align: middle !important;

}

.my-search-bar{
  // float: right !important;
  vertical-align: middle !important;

}

.bottom-navbar{
  background-color: #93b2b4 !important;
  border-radius: 4px;
  width: 100%;

  &#set-height-navbar {
    @media (min-width: 56px) {
       height: 56px !important;
    }
  }
}

.full-width {
  width: 100%;
}

.bottom-navbar-text{
  color: white !important;
  font-weight: 575 !important;
  vertical-align: middle !important;
}
.panel-primary {
     background-color: #3f7577 !important;
     color: white !important;
      // border-color: #3f7577 !important;
}

.panel-default {
    border-color: #3f7577 !important;
    color: white !important;
}

.my-logo {
  max-height: 70px;
}

.panel-footer{

}
// .filters-nav{
//   color: #3F7577; this is the seagreen color
// } didn't work
.wine_image {
  max-width:50%;
  max-height:50%;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

// body {
//   font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
//   background-image: url('white_wall.png');
//   color: navy;
  
// }

.product-index-single{
    height: 1000px;
}


.well img{
  width: 100%;
}

.item-view{
  color: navy;  
  width: 500px;
}

.description{
  width: 75%;
}

.pull-right {
    float: right !important; // Use of important emulates bootstrap
}

.pull-left {
    float: left !important; // Use of important emulates bootstrap
}


.button-as-link {
       background:none!important;
       color:#337AB7;
       border:none; 
       padding:0!important;
       font: inherit;
       /*border is optional*/
       cursor: pointer;
}

.button-as-link:hover {
  color: #23527C;
  text-decoration: underline;
}

.my-well-index-pg {
  background-color: #f1f4f4;
  min-height: 20px;
  height: 550px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.my-well-index-pg img{
  max-height: 150px;
  width: auto;
}

.my-well-show-pg {
  background-color: #ffffff;
}

.my-well-show-pg img{
  max-height: 320px;
  margin-left: auto;
  width: auto;
  display: block;
  margin-right: auto;
  padding-bottom: 20px;
}

.box1and2{
  height: 425px;
}


.review-box{
  background-color: #f1f4f4;
}

.top-of-results{
  display: inline !important;
}

.show-pg-rating-summary{
  display: inline;
}

.rating-stars{
  margin-left: 20px;
  margin-bottom: 20px;
}

.edit-delete-buttons-one-line{
  display: inline !important;
}

.edit-button-left{
  display:inline-block; margin-right: 50px; 
  float: left !important;
}

.delete-button-right{
  display:inline-block;
  float: right !important;
}

.button-color-delete{
  background-color: #c56a68 !important;
  color: #ffffff;
}

.background-img-no-overlay{
    background-color: rgba(0, 0, 0, 0) !important;
}

.page-title-new{
    // text-align:center;
    padding-left: 366px;
    font-size: 38px !important;
    color: #A9A9A9 !important;
}

.category-btn-right{
  margin-left: 15px !important;
}

.new-category-to-right{
  margin-left: 10px !important;
}

.add-button{
  background-color: #93b2b4; 
  border-color: #93b2b4 !important;
}
.add-button:hover {
  background-color: #134a4d; 
  border-color: #134a4d;
}

.edit-button{
  background-color: #ecc3a0; 
  border-color: #ecc3a0;
}
.edit-button:hover{
  background-color: #7f601f; 
  border-color: #7f601f;
}

.delete-button{
  background-color: #c56a68; 
  border-color: #c56a68;
}

.delete-button:hover {
  background-color: #7f211f; 
  border-color: #7f211f;
}

.cellar-btn{
  border-radius: 2px;
}
.my-well-cellar-pg {
  background-color: #f1f4f4;
  min-height: 20px;
  // height: 800px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.my-well-cellar-pg img{
  max-height: 150px;
  width: auto;
}

.cellar-info{
  text-indent: 30px;
}

.search-form {
  padding-top: 15px;
}

.one-line {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.top-pagination-index-pg{
  position: absolute;
  right: 10px;
}

.add-to-cellar{
}

.homepage-heading{
  // text-decoration: underline;

}
.homepage-info{
  font-size: 18px;
}

.list-info{
  font-size: 18px;
  font-style: italic;
  padding-bottom:15px;
}

.home-icon-left{
  float: left !important;
  @media (min-width: 992px) {
    margin-left: 50px !important;
  }
  @media (max-width: 991px) {
    margin-left: 20px !important;
  }

}
.text-from-icons{
  color: white;
  font-weight: bold;
}

.home-icon-center{

}

.home-icon-right{
  color: white !important;
  float: right !important;
   @media (min-width: 992px) {
    margin-right: 75px !important;
  }
    @media (max-width: 991px) {
    margin-right: 20px !important;
  }

}

.icon-info .title {
  font-size: 16px;
  font-weight: 700;
  }

.wine-store-separate{
  display: inherit;
}

.homepage-buttons{
}


.edit-form-padding-right{
  padding-right: 0px;
}

// .my-region-background{
//   background-image: url('assets/img/page-header-france-bg.jpg') !important;
// }

.par-pages{
  text-indent: 50px;
}

// .form-group {
//   @media (max-width: 767px) {
//     input {
//       max-width: 200px;
//       margin-left: 15px;
//     }
//   }
// }

.cellar-heading{
  margin-top: 40px;
  margin-left: 20px;
}

.navbar-brand, .navbar-brand-position, .middle-navbar img {
  padding-bottom: 8px;
}
